<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <style>
      .compliment {
        color: black;
        font-size: 32px;
      }

      body {
        text-align: center;
      }
    </style>
  </head>

  <body onload='return setRandomBackground()'>
    <script type='text/javascript'>
      var colors = ["#FFBF00", "#0080FF","#01DF3A","#FF0080"];

      function setRandomBackground() {
        var bgcolor = colors[Math.floor(Math.random()*colors.length)];
        $('body').css('background-color', bgcolor);
      }
    </script>

    <h1 class='compliment'><%= title %></h1>
    <p class='compliment'><%= compliment %></p>


  </body>
</html>
