<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <style>
      .compliment {
        color: black;
        font-size: 32px;
      }

      body {
        text-align: center;
        background-color: <%= backgroundColor %>;
      }
    </style>
  </head>

  <body>


    <h1 class='compliment'><%= title %></h1>
    <p class='compliment'><%= compliment %></p>


  </body>
</html>
