.poster {
  width: 200px;
  height: auto;
}

ul {
 list-style-type: none;
 }

 .title {
  margin-top: 10px;
 }

body {
  background-color: #9DD9D2;
  text-align: center;
  color: #FF8811;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.25px;
}
