ul{
  list-style-type: none;
}
.pngs{
  color: #00d6dd;
  font-family: "Fredoka One";
  font-size: 2em;
  text-align: center;
}
.top{
  background-color: #00d6dd;
}
.second{
  background-image: url(images/background.jpg);
  text-align: center;
}
.mmapp{
  font-family: "Fredoka One";
  font-size: 3em;
  color: yellow;
}
.lradio{
  font-size: .75em;
  color: yellow;
  background-color: black;
}
.quotable, .singlebrook, .newsletter {
  text-align: center;
  background-color: #00d6dd;
}

img{
  max-width: 100%;
}
.news{
  max-width: 75%;
  text-align: center;
}
.contactinfo, .links, .smicons, .publications{
  text-align: center;
}

