ul{
  list-style-type: none;
}
.pngs{
  color: #00d6dd;
  font-family: "Fredoka One";
  font-size: 2em;
  text-align: center;
}
.top{
  background-color: #00d6dd;
}
.second{
  text-align: center;

}
.mmapp{
  font-family: "Fredoka One";
  font-size: 3em;
  color: yellow;
}
.background{
  background: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;

}
.lradio{
  font-size: .75em;
  color: yellow;
  background-color: black;
}
.quotable{
  text-align: center;
  background-color: #00d6dd;
}
.singlebrook{
  text-align: center;
  background-color: #00d6dd;
}
.newsletter{
  text-align: center;
  background-color: #00d6dd;
}
.contactinfo{
  text-align: center;
}
img{
  max-width: 100%;
  text-align: center;
}
.news{
  max-width: 75%;
  text-align: center;
}
.links{
  text-align: center;
}
.smicons{
  text-align: center;
}
.publications{
  text-align: center;

}
