<form name="new_user_form" id="new_user_form" method="post" action="/users">
    <div>
        New Compliment: <input type="text" name="name" id="name">
    </div>
    <input type="submit" value="Save">
</form>
